* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #a89198bd;
  font-family: 'Arial', sans-serif;
}

.main {
  background-image: url("https://t4.ftcdn.net/jpg/06/13/62/67/360_F_613626774_sLU2V1zxUkWWNmUKhci5Qa3IAaU00gcx.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 70px;
  padding-bottom: 300px;
}

.container {
  max-width: 800px;
  padding: 40px;
  background: rgba(239, 221, 221, 0.288);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  margin-bottom: 50px;

}

.container h1 {
  font-family: 'Times New Roman', serif;
  font-size: 60px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.container span {
  color: #daa8b1;
  font-size: 80px;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container h3 {
  font-size: 18px;
  font-weight: normal;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-primary {
  background: #daa8b1;
  color: white;
}

.btn-primary:hover {
  background: #c27b8c;
}

.btn-secondary {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.btn-secondary:hover {
  background: white;
  color: black;
}